{% extends 'base.html' %}

{% block body %}
  <div class="row justify-content-center">
    {% for post in posts %}
      <div class="card col-3 mr-2 mt-3" style="width: 50rem;">
        <img src="https://picsum.photos/200/200/?random" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{post.content}}</p>
          <form action="{% url 'posts:delete' post.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">삭제</button>
          </form>
          <a href="{% url 'posts:update' post.id %}"><button class="btn btn-warning">수정</button></a>
        </div>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}