{% extends 'base.html' %}

{% block body %}
  <div class="row justify-content-center">
    {% for post in posts %}
      <div class="card col-3 mr-2 mt-3" style="width: 50rem;">
        <div>
          <span><h5 class="card-header">{{post.user}}</h5></span>
        </div>
        <img src="{{post.image.url}}" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <p class="card-text">{{post.content}}</p>
          {% if post.user == request.user %}
            <div class="row">
              <div class="col-5">
                <form action="{% url 'posts:delete' post.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger">삭제</button>
                </form>
              </div>
              <div class="col-5">
                <a href="{% url 'posts:update' post.id %}"><button class="btn btn-warning">수정</button></a>
              </div>
            </div>
          <!--작성자만 수정/삭제 가능--> 
          {% endif %}
        </div>
        <div class="card-body">
        <!--좋아요 버튼 추가-->
          <a href="{% url 'posts:like' post.id %}">
          <!--해당 유저가 like를 했으면-->
          {% if user in post.like_users.all %}
            <i class="fas fa-heart"></i>
          {% else %}
            <i class="far fa-heart"></i>
          {% endif %}
          </a>
          <p class="card-text">
            {{post.like_users.count}}명이 좋아합니다.
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  
{% endblock %}